div.login-bc{
    display: block;
    margin: 15px auto;
    background-color: #333333;
    width: 80%;
    height: 600px;
    text-align: center;
}

div.login {
    display: inline-block;
    margin: auto;
    margin-top: 100px;
    background-color: #545050;
    width: 500px;
    height: 400px;
    text-align: center;
    border-radius: 50px;
}
div.login form{
    width: 80%;
    height: 200px;
    margin: auto;
}

div.login form input{
    display:block;
    margin: 50px auto;
    height: 30px;
    width: 200px;
    background-color: #333333;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: white;
}

div.login form input:focus{
    border: none;
    outline: none;
}

div.login form input[type="submit"]{
    background-color: rgb(219, 133, 41);
}

div.login form input[type="submit"]:hover{
    background-color: rgb(237, 123, 0);
    cursor: pointer;
}